@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.videos {
    @include desktop {
        padding-left: 1.5rem;
    }

    &__title {
        color: $silver;
        font-size: 0.9rem;
        margin-top: 1rem;

        @include tablet {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        @include desktop {
            margin-top: 2rem;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }
}