@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.selected-Video {
    max-width: 100%;
    background-color: $brainFlix-DarkBlack;
    display: flex;
    justify-content: center;
    max-height: 20rem;

    @include tablet {
        max-height: 30rem;
        padding: 0rem 2rem;
    }

    @include desktop {
        max-height: 40rem;
        padding: 0rem 13.5rem;
    }
}

.selected-video__current-video {

    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;

    @include tablet {
        max-width: 50rem;
    }

    @include desktop {

        max-width: 80rem;
    }
   
}