

@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.form__section {
    border-top: 1px solid $mercury;

    padding: 1rem 1rem;


    @include tablet {
        padding: 0rem 2rem;
    }

    @include desktop {
        padding: 0rem 8rem;
    }

    &-thumbnail {
        object-fit: cover;
        aspect-ratio: 16/9;
        width: 100%;
        margin-top: 0.25rem;

        @include tablet {
            height: 11.9rem;
            width: 21.7rem;
            border-radius: 0.25rem
        }

        @include desktop {
            height: 10.75rem;
            width: 20.25rem;
        }
    }

    &-title-secondary {
        color: $silver;
        font-size: 0.75rem;
        font-weight: 700;
        margin: 0;
    }

    &-thumbnail-container {
        margin-top: 1rem;
    }

    &-form {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet {

            padding: 1rem 0rem 1rem 0rem;
            border-bottom: $mercury solid;
            border-top: $mercury solid;
        }

        @include desktop {
            flex-direction: row;
            align-items: flex-end;
            gap: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &-input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    &-title-label {
        color: $silver;
        font-size: 0.75rem;
        font-weight: 700;
    }

    &-title {
        font-size: 1.45rem;
        font-weight: 600;
        margin-top: 0.5rem;

        @include tablet {
            font-size: 2.15rem;
            margin: 2rem 0rem 2rem 0rem;
        }

        @include desktop {
            margin: 1.5rem 0rem 1.5rem 0rem;
        }
    }

    
    &-title-input {
        border: 1px solid $mercury;
        border-radius: 0.25rem;
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        background-color: $albaster;
        &::placeholder {
            color: $brainFlix-Black;
        }

        @include desktop {
            width: 100%;
        }
    }
    
    &-description-label {
        color: $silver;
        font-size: 0.75rem;
        font-weight: 700;
    
    }

    &-description-input {
        width: 100%;
        border-radius: 0.25rem;
        border: 1px solid $mercury;
        box-sizing: border-box;
        padding: 0.5rem 1rem 3rem 1rem;
        background-color: $albaster;
        resize: none;

        &::placeholder {
            color: $brainFlix-Black;
        }

    }

    &-update {
        display: flex;
        flex-direction: column;
        gap: 2.25rem;

        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 1.5rem;
            gap: 4.25rem;
        }

    }

    &-publish {

        background-image: url('../../assets/Icons/publish.svg');
        background-repeat: no-repeat;
        background-position: 1rem;
        background-size: 1.25rem;
        display: flex;
        justify-content: center;
        padding: 0.75rem 20px;
        width: 100%;
        color: white;
        background-color: $brainFlix-blue;
        text-decoration: none;
        box-sizing: border-box;
        font-size: 0.75rem;
        font-weight: 700;
        border-radius: 0.25rem;
        border: none;

        &:hover {
            background-color: $brainFlix-DarkBlue;
            cursor: pointer;
        }

        @include tablet {
            order: 2;
            width: 10rem;
        }

        @include desktop {
            width: 9.4rem;
        }
    }

    &-cancel {

        border: none;
        text-decoration: none;
        background-color: $white;
        color: $brainFlix-blue;
        font-size: 0.75rem;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
            color: red;
        }

        @include tablet {
            order: 1;
        }

    }



}

